{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row py-3">
	<h1>Feeds List</h1>
	</div>
	<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Animal's Name</th>
				<th scope="col">Date Offered</th>
				<th scope="col">Successful Feed?</th>
			</tr>
		</thead>
		<tbody>
		{% for animal in animals %}
			<tr>
				<td>{{ animal.name }}</td>
				<td>{{ animal.species }}</td>
				<td>{{ animal.date_aquired }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
</div>
{% endblock %}